#root{
    padding: unset;
    width: 100%;
    min-width: 100%;
}
.ant-menu {
    text-align: left;
}
.header {
    display: flex;
    align-items: center;
    height: 60px;
}

.ant-layout-header {
    padding: 0 20px;
    border-bottom: solid 1px #e9e9e9;
    box-shadow: -1px 3px 5px 0px rgba(138,118,118,0.43);
    background-color: #fff;
}


.ant-layout-content {
   .card {
    margin-bottom: 10px;
    text-align: left;
    .ant-card-head {
        color: rgb(24, 120, 255);
        .ant-card-head-title {
            justify-content: space-between;
            display: flex;
            .ant-btn {
                color: green;
                &:hover , &:focus{
                    border: none;
                    outline: unset;
                }

                &:active {
                    background-color: transparent;
                }
            }
        }
    }

    .ant-card-body {
        .task-description , .task-date {
            padding: 20px 0;
        }

        .task-date {
            text-align: right;
            color: #909aa3;
        }
    }

   }
}
